.Characters .LikedCharactersList {
    display: grid;
    grid-auto-flow: column;
}

.Characters .CharactersList {
    display: grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;
}

.Characters .CharactersList .Character {
    justify-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    margin: 1em;
    max-width: 200px;
    box-shadow: 0 0 6px gray;
}

.Characters .CharactersList .Character img {
    border-bottom: 1px solid gray;
}

.Characters .CharactersList .Character .CharacterFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 0.5em;
}

.DarkMode .Characters .Character {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.20);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.20);
}

.DarkMode Characters .Character img {
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}